#**Here's an Assessment for testing your python skills**

***Q1. Given a number count the total number of digits in a number***

In [ ]:
#example

number = 1234567890 # length = 10

# now take a number from input as an integer and code

***Q2. Display numbers from -10 to -1 using "for" loop as well as "while" loop***

In [ ]:
# write your code here

Q3. Print the following pattern

#

##

###

####

#####

####

###

##

#

**Q4. Write a function employeeDetails() which accepts ename, salary and display both. If the salary is missing in the function call assign default value 10000 to salary**

**Given:**

**employeeDetails("Joe", 34000)**

**employeeDetails("Jennifer")**

**Joe salary is: 34000**

**Jennifer salary is: 10000**

In [ ]:
# write your code here

***Q5. Arrange string letters such that uppercase letters should come first***

***Given:***

***my_string = uPPerLower***

***Expected Output:***

**PPLuerower**

In [ ]:
# write your code here

***Q6. Find all occurrences of “UAE” in a given string ignoring the case***

***str1 = "Welcome to UAE. uae is awesome, isn't it?"***

***The UAE count is: 2***

In [ ]:
# write your code here

***Q7. Write a function to remove all the integers other than characters from a string***

***Given:***

***str1 = "Amy2021 is neuro scientist170 and a good10 cook"***

***Expected Output:***

***Amy is neuro scientist and a good cook***

In [ ]:
# write your code here

***Q8. Reverse a given list in Python***

***my_list = [100, 200, 300, 400, 500]***

***Output:***

***[500, 400, 300, 200, 100]***

In [ ]:
# write your code here

***Q9. Given a list, remove all occurrence of 200 from the list***

***list1 = [50, 200, 150, 200, 250, 50, 200]***

In [ ]:
# write your code here

***Q10. Below are the two lists convert it into the dictionary***

***keys = ['Twelve', 'Thirteen', 'Fourteen']***
***values = [12, 13, 14]***

***Expected output:***

***{'Twelve': 12, 'Thirteen': 13, 'Fourteen': 14}***

In [ ]:
# write your code here

***Q11. Delete list of keys from a dictionary***

***Given:***

***sampleDict = {***
  **"name": "Humpty",**
  **"age":25,**
  **"salary": 8000,**
  **"city": "New york" }**

***keysToRemove = ["name", "salary"]***

***Output:***

***{'city': 'New york', 'age': 25}***

In [ ]:
# write your code here

***Q12. Swap the following two tuples***

***tuple1 = (11, 22)***
***tuple2 = (99, 88)***

***Expected output:***

***tuple1 = (99, 88)***
***tuple2 = (11, 22)***

In [ ]:
# write your code here

**Q13. Create a Human class with height and weight instance attributes and methods that would print an introduction statement, return height and weight separately**

In [ ]:
# write your code here

***Q14. Create a male class Bus that will inherit all of the variables and methods of the Human class***

In [ ]:
# write your code here